doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='http://apps.bdimg.com/libs/jquery.cookie/1.4.1/jquery.cookie.js')
  body
    block content
