doctype html
html
  head
    title 登陆错误
    | 	
    link(rel="stylesheet", href="stylesheets/WrongLogin.css")
    |     
    script(type="text/javascript", src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js")
    | 	
    script(type="text/javascript", src="javascripts/WrongLogin.js")
  body
    h1  登陆错误 
    | 	
    p  可能是用户名或密码错误 
    |
    p   如果是从注册转入，那么代表用户名有重复，请修改用户名后再注册
    | 	
    button#login  返回上一页 
    | 	
    button#regist  去注册 
