doctype html
html
  head
    title 登陆错误
    | 	
    link(rel="stylesheet", href="stylesheets/WrongLogin.css")
    |     
    script(type="text/javascript", src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js")
    | 	
    script(type="text/javascript", src="javascripts/WrongLogin.js")
  body
    h1  登陆错误 
    | 	
    p  可能是用户名或密码错误 
    |
    p  将会在
        |
        span#timecount 3
        | 秒后返回上一页
    | 	
    button#login  立即返回上一页
    | 	
    button#regist  去注册 
    |
    a(href='http://39.108.152.24:3000/signup')
